<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View Penduduk by NIK</title>
    </head>
    <body>
       	<h3 th:text="'NIK = ' + ${archive.nik}">NIK Penduduk</h3>
       	<h3 th:text="'Nama = ' + ${archive.nama}">Nama Penduduk</h3>
       	<h3 th:text="'Tempat/Tanggal Lahir = ' + ${archive.tempat_lahir} + ' ' + ${archive.tanggal_lahir}">TTL Penduduk</h3>
       	<h3 th:text="'Alamat = ' + ${archive.alamat}">Alamat Penduduk</h3>
       	<h3 th:text="'RT/RW = ' + ${archive.rt} + '/' + ${archive.rw}">RT/RW Penduduk</h3>
       	<h3 th:text="'Kelurahan/Desa = ' + ${archive.nama_kelurahan}">Kelurahan Penduduk</h3>
       	<h3 th:text="'Kecamatan = ' + ${archive.nama_kecamatan}">Kecamatan Penduduk</h3>
       	<h3 th:text="'Kota = ' + ${archive.nama_kota}">Kota Penduduk</h3>
       	<h3 th:text="'Golongan Darah = ' + ${archive.golongan_darah}">Golongan Darah Penduduk</h3>
       	<h3 th:text="'Agama = ' + ${archive.agama}">Agama Penduduk</h3>
       	<h3 th:text="'Status Perkawinan = ' + ${archive.status_perkawinan}">Status Perkawinan Penduduk</h3>
       	<h3 th:text="'Pekerjaan = ' + ${archive.pekerjaan}">Pekerjaan Penduduk</h3>
       	<h3 th:text="'Kewarganegaraan = ' + ${archive.is_wni}">Kewarganegaraan Penduduk</h3>
       	<h3 th:text="'Status Kematian = ' + ${archive.is_wafat}">Status Kematian Penduduk</h3>
    </body>
</html>